<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-gamecontrol (gameEventFired)="gameStarted($event)"></app-gamecontrol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-odd *ngFor="let item of oddNumberArray" [number] ="item" ></app-odd>
        <app-even *ngFor="let item of evenNumberArray" [number] ="item" ></app-even> -->

      <div *ngFor="let item of numberArray">
        <ng-container
          *ngIf="item % 2 === 0; then even; else odd"
        ></ng-container>
        <ng-template #even>
          <app-even [number]="item" ></app-even>
        </ng-template>
        <ng-template #odd>
          <app-odd [number]="item"></app-odd>
        </ng-template>
      </div>
    </div>
  </div>
</div>
